<div class="container mt-4 form_main">
  <p class="form_title">{{pageTitle}}</p>
    <form novalidate
          (ngSubmit)="submitNewJar()"
          [formGroup]="newJarForm">
            <div class="form-group row">
          <label class="col-form-label col-md-1"
                for="nameId">Name:</label>
            <div class="col-md-3">
            <input class="form-control"
                  id="name"
                  type="text"
                  placeholder="(required)"
                  formControlName="jarName" />
            </div>
            <label class="col-form-label col-md-1"
            for="balanceId">Balance:</label>
            <div class="col-md-3">
              <input class="form-control"
                id="balanceId"
                type="number"
                placeholder="(required)"
                formControlName="accountBalance"/>
            </div>
            <label class="col-form-label col-md-1">
            Currency:
            </label>
            <div class="col-md-3">
              <select class="form-control"
              id="currencyId"
                      type="text"
                      placeholder="(required)"
                      formControlName="currency">
                <option *ngFor="let currency of currencyOptions | slice:1; let i = index"
                >{{currency}}</option>
              </select>
              <span class="invalid-feedback">{{editRequired}}
              </span>
            </div>
          </div>
              <div class="container mt-4">
                  <div class="row">
                    <div class="col text-center">
                      <button class="btn btn-primary custom mr-2 btn-sm"
                        type="submit"
                        [title]="newJarForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        [disabled]="!newJarForm.valid">
                            Save
                       </button>
                        <button class="btn custom btn-outline-secondary btn-sm ml-2"
                        type="button"
                        title="Cancel your edits"
                        [routerLink]="['']">
                          Cancel
                      </button>
                    </div>
                  </div>
                </div>
             <span class="invalid-feedback">
             {{pageTitle}}
             </span>
      </form>
  </div>
   <div class="alert alert-danger"
    *ngIf="errorMessage">{{errorMessage}}
  </div>
<app-jar class="container"></app-jar>
