<div class="history__nav">
  <div class="history__table--sticky-header">
  <table class="table table-sm table-hover container">
    <thead>
      <tr>
        <th scope="col">#Id</th>
        <th scope="col">Title<i (click)="onSortClick($event, 'title')" class="my-icon fa fa-chevron-up"></i></th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Amount <i (click)="onSortClick($event, 'title')" class="my-icon fa fa-chevron-up"></i></th>
        <th scope="col">Currency <i (click)="onSortClick($event, 'currency')" class="my-icon fa fa-chevron-up"></i></th>
        <th scope="col">Date <i (click)="onSortClick($event, 'date')" class="my-icon fa fa-chevron-up"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transfer of sortedTransfers">
        <th scope="row">{{transfer.id}}</th>
        <td>{{transfer.title}}</td>
        <td>{{transfer.from.jarName}}</td>
        <td>{{transfer.to.jarName}}</td>
        <td>{{transfer.amount}}</td>
        <td>{{transfer.currency}}</td>
        <td>{{transfer.date | date: 'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

