.form-control::-webkit-input-placeholder {
  color: #6C757D;
  ;
}


div,
span,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F8F9FA;
}

ul {
  list-style-type: none;
  position: relative;
  color: #f0ad4e;
  font-weight: 500;
}

.main__jar {
  position: relative;
  height: 45vh;
  max-height: 45vh;
  margin-bottom: 18px;
  background-image: url("./assets/images/jar_img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__jar--list {
  position: relative;
  top: 10%;
}


.main_jar--transfer-btn {
  background-color: none;
  color: black;
  border: 3px solid black;
  position: absolute;
  right: 42px;
  width: 200px;
  border-radius: 15px;
}

.history__table--sticky-header {
  min-height: 25vh;
  overflow-y: auto;
  height: 25vh;
  bottom: 200px;
}

.history__table--sticky-header thead th {
  position: sticky;
  top: 0;
}

.vertical {
  margin: 3rem 0px;
  z-index: 1;
}

.form_main {
  padding-top: 2.2rem;
  min-height: 40vh;
  background-color: #F8F9FA;
  margin-bottom: 20px;
  border-radius: 15px;
}


.form_title {
  padding: 10px;
  font-size: 1.2rem;
  color: #6C757D;
}

.search {
  margin-top: 83px;
}

.search-input {
  max-width: 170px;
}

.custom {
  width: 160px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

@media only screen and (min-width: 2500px) {
  .text-mac {
    font-size: 1.7rem;
  }
  .main__jar--list {
    top: 20%;
  }
}

@media only screen and (max-width: 800px) {
  .main__jar {
    margin-bottom: 1.5rem;
  }
<<<<<<< HEAD

=======
>>>>>>> e01422348c3557016f220209ace85f20698e81ca
  th {
    min-width: 124px;
  }
}
